extends layout
block css 
    link(rel='stylesheet', href='/stylesheets/error.css')
block content
  section(class='grid parent-bg template-row all-center sec-bg-clr h-100-svh')
    h1= message
    h2= error.status
    pre #{error.stack}
