doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    link(rel='stylesheet', href='/stylesheets/globalCSS.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')

    block css
  body
    header(class='flex wrap space-around-center gap-1-5rem pos-fix fnt-s')
      div(class='flex space-around-center gap-1-5rem no-padding')
        p(class='fnt-s-3-5rem')
          a(href='/') #[strong Tarot Club]
        a(href='https://github.com/Crn0/Tarot-club' target='blank', rel='noopener noreferrer')
          <i class="devicon-github-original-wordmark fnt-s-3-5rem"></i>

      nav(class='flex space-around-center gap-1-5rem no-padding')
        if isAuthenticated
          a(href=`/user/${currentUser.id}`) Profile
          a(href='/minor_arcana') Minor Arcana
          if isAdmin || isMember
            a(href='/major_arcana') Major Arcana
          a(href='/logout') Logout
        else
          a(href='/minor_arcana') Minor Arcana
          a(href='/register') Register 
          a(href='/login') Login
    main(class='margin-t-10-per no-margin')
      block content