extends layout 
block css 
    link(rel='stylesheet', href='/stylesheets/login_form.css')
block content
    section(class='grid all-center parent h-100dvh')
        h1 #{ title }

        if loginErrors
            each error in loginErrors
                p #{ error }

        form(class='grid all-center' method='POST')
            fieldset(class='grid all-center gap-2-rem min')
                label(class='grid all-center')
                    span.label Username (required):  
                    input(type='text' name='username' placeholder='Klein' required value=( uname ? uname : '' ))
                label(class='grid all-center')
                    span.label Password (required): 
                    input(type='password' name='password' required)
                button(type='submit') Login