extends layout 
block css 
    link(rel='stylesheet', href='/stylesheets/register_form.css')

block content
    section(class='grid all-center parent')
        h1 #{ title }

        if errors
            ul
                each error in errors
                    li #{ error.msg }

        form(class='grid all-center' method='POST')
            fieldset(class='grid all-center gap-2-rem min')
                label(class='grid all-center')
                    span.label Username (required):  
                    input(type='text' name='username' placeholder='Klein' required value=(uname ? uname : ''))
                label(class='grid all-center')
                    span.label Admin Password:
                    input(type='password' name='admin_password')
                label(class='grid all-center')
                    span.label Membership Password:
                    input(type='password' name='member_password')  
                label(class='grid all-center')
                    span.label Password (required): 
                    input(type='password' name='password' required)
                label(class='grid all-center')
                    span.label Confirm Password(required):
                    input(type='password' name='password_confirm' required)
                button(type='submit') Submit 